@import './variables.scss';
@import './normalize';
@import './reset';

html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Noto Sans KR';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  // font-family: 'Noto Sans KR';
}

ul, li, ol, dl{
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

$icon-size : (10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32);

.material-symbols-outlined,
.material-symbols{
  @each $size in $icon-size {
    &.md-#{$size} {
      font-size: #{$size}px;
    }
  }
}

nav {
  height: 100%;
  ul.nav_lv_1{
    flex: 1;
    display: flex;
    height: 100%;
    li.nav_item{
      // font-size: 14px;
          // text-align: center;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          cursor: pointer;
          z-index: 1;
          position: relative;
          // transition: all .2s ease-out;


          // &::before,
          // &::after{
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   width: 35px;
          //   height: 35px;
          //   border: 1px solid #5c74ffc7;
          //   transform: translateX(-50%) translateY(-50%) scale(0.8);
          //   border-radius: 50%;
          //   background: transparent;
          //   content: "";
          //   opacity: 0;
          //   transition: all 0.3s;
          //   z-index: -1;
          // }
          
          // li::after {
          //   border-width: 2px;
          //   transition: all 0.4s;
          // }
          ul.column{
            display: none;
            position: absolute;
            top: 100%;
            background: rgba(0, 0, 0, 0.3);
            left: 0;
            right: 0;
            height: auto;
            padding: 10px 0;
          }

          &:hover{
            ul.column{
              display: block;
            }
          }
        
          
           &:hover{
              .menu_item_lv1::after{
                opacity: 1;
                left: 0;
                right:0;
              }
            }

        
          // &:hover::before{
          //     opacity: 1;
          //     border-width: 2px;
          //     transform: translateX(-50%) translateY(-50%) scale(1);
          //   // color: $primary-color; 
          // }
          // &:hover::after{
          //   opacity: 1;
          //   transform: translateX(-50%) translateY(-50%) scale(1.3);
          // }

          .menu_item_lv1{
            padding: 22px 5px;
            position: relative;
            // flex: 1;
            text-align: center;
            &::after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              right: 50%;
              height: 3px;
              background-color: $primary-color;  
              opacity: 0;
              transition: all 0.3s;
            }

          }
          .menu_item_lv2{
            margin: 0 10px 10px;
            padding-bottom: 10px;
            text-align: center;
            border-bottom: 2px solid transparent;
            transition: all .2s ease-out;
            color: #FFF;
            &:hover{
              color: rgba(255, 255, 255, .5);
              border-bottom-color: $primary-color;
            }
            &:last-child{
              margin-bottom: 0
              ;
            }
          }

      .material-symbols-outlined {
        vertical-align: sub;
      }

      // &:hover{
      //   .menu_item{
      //     position: relative;
      //     transition: all .2ms ease;
      //     &::after{
      //       content: '';
      //       display: block;
      //       position: absolute;
      //       bottom: -4px;
      //       left: 0;
      //       right: 0;
      //       height: 2px;
      //       background-color: $primary-color;
      //       transition: all .2ms cubic-bezier(0.075, 0.82, 0.165, 1);
            
      //     }
      //   }
      // }
    }
  } 
}

 span.text-effect {
    background-image: radial-gradient(66.11% 66.11% at 50% 33.89%,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,0) 100%),   linear-gradient(278.88deg, #fff, #66e3ff 28.83%,#a787ff 56.31%, #ffc875 86.49%);
    // will-change: transform;
    background-size: 200% 200%;
    //background: linear-gradient(to right, #a25eaf 20%, $primary-color 50%, #5acde3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 10px;
    z-index: 1;
    background-position: 0% 0%;
    animation:color-gradient 5s ease-in infinite;
    -webkit-animation:color-gradient 5s ease-in infinite;
}


  @keyframes color-gradient {
    0%, 100%{
     background-position: 0 50%;
    }

    50%{
      background-position: 100% 50%;
    }
  
}   



