@import './variables.scss';

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  z-index: 1;
  &::before{
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    z-index: -1;
    opacity: 0;
    background: url('/assets/images/main_bg.svg');
    animation: stars-move-in 1000ms 300ms forwards;
    position: absolute;
    -webkit-animation: stars-move-in 1000ms 300ms forwards;
}

  @keyframes stars-move-in {
    from{
      top: -100%;
      opacity: 0;
    }
    to{
      top: 0;
      opacity: 1;
    }
  }

  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, .1);
    background: rgba($primary-color, .2); //#2196f3;
    color:$bg-font-color;
    height: 70px;
    .logo {
        padding: 0 1rem;
        display: inline-flex;
        align-items: center;
        height: 70px;
      img{
        margin: auto 0;
        height: auto;
        width: 130px;
        transform:    translateY(-5px) scale(1.5);
        -webkit-transform:    translateY(-5px) scale(1.5);
        -moz-transform:    translateY(-5px) scale(1.5);
        -ms-transform:    translateY(-5px) scale(1.5);
        -o-transform:    translateY(-5px) scale(1.5);
}
    }
    nav {
      display: flex;
      align-items: center;
      flex: 1;
      margin:0 2.5rem;
      ul {
        padding: 0;
      
      }
    } 

    &_profile{
      text-align: right;
      width: 200px;
      padding: 0 1.5rem;
    
      span {
        font-size: 12px;
      }
    }
  }

  &_content{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
  
    &_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;
      text-align: center;
      &_title{
        h1{
          font-size: 3.5rem;
          color: #eee;        
          line-height: 1.5;
        }
      }
       
    }

    aside {
      width: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      color: #eee;
      font-size: 14px;
      background-color: rgba(0,0,0,.86);
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        font-size: 18px;
 
        li{
          flex: 1 0 25%;
          display: flex;
          align-items: center;
          padding: 1.2rem 1.5rem;
          cursor: pointer;
        }
      }
    }
  }

  &_banner{
      background: no-repeat url('/assets/images/logo/main01.png') center;
      background-size: cover;
      width: 400px;     
      height: 200px;
    }

  .scroll_guide {
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    top: 50%;
    left: 0;
    color: #FFF;
    transform: translate(-50%, -50%) rotate(270deg);
    display: flex;
    transform-origin: center;
    margin-left: 20px;
    font-weight: bold;
    align-items: center;
    // animation: scroll-move 1000ms 1000ms forwards;
    
    &_divider{
      background: #FFF;
      height: 1px;
      width: 50px;
      margin: 0 10px;
    }
  }

}

// @keyframes scroll-move {
//   from{
//     transform: translate(-50%, 50%) rotate(270deg);
//   }
//   to {
//     transform: translate(-50%, -50%) rotate(270deg);
//   }
// }